@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

#navbar {
  display: flex;
  position: sticky;
  background: #333;
  top: 0;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 0 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: white;
  padding: 0 0.78rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

/* Utility class */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #93cb52;
}

.bg-light {
  background: #f4f4ff;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

.l1-heading {
  font-size: 3rem;

  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

/* Show case */
#showcase {
  background: #333 url("../img/profile.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2.5rem 0;
}
.py-3 {
  padding: 3.5rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2.5rem;
}
.p-3 {
  padding: 3.5rem;
}

/* .btn {
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #7ab436;
} */

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

.arrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.read-more {
  padding-top: 20px;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

  align-items: center;
  height: 100%;
  padding: 6rem 2rem;
  /* Overlay */
  position: absolute;
  top: 50;
  left: 0;
  right: 0;
  bottom: 1;
  background-color: rgba(0, 0, 0, 0.22);
}

/* What I do brah */
#what .items {
  display: flex;
  padding: 1rem;
}
#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
}

#what {
  background-color: white;
}

/* Who I am */

#who {
  display: flex;
  height: 40vh;
}

#who div {
  flex: 1;
}

#who .who-img {
  background: url("../img/uva.jpg") no-repeat center center/cover;
}

/* Projects */
#projects .items {
  display: flex;
}

#projects .items img {
  display: block;
  margin: auto;
  width: 60%;
}
